1. in the given question

'*' - expression

'hello' - value

-87.8 - value

'-' - expression

'/' - expression

'+' - expression

6 - value

2.
the difference between string and variable

string is a datatype which is used to hold a group of letters and words
variable is an identifier which is used to hold any value that we later use in the code.

3. three different datatypes

int - int is a datatype which holds a integer value. which includes both negative and positive integers. eg : -22, 186

float - float is a datatype which holds a decimal value. eg - 22.1, -82.33

char - char is a datatype which holds a character or in simple words it holds alphabets which include both captial and small letters. eg - 'A', 'b'

4. 

expression :- An expression is a set of numbers or variables combined using the operations + , – , × or ÷.

An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators.

5. difference between a expression and assignment

expression is a group of numerics , varables, and operators which produces a value.

statement is a instruction that we give to the interpeter or compiler to execute.

In [2]:
## 6.

bacon =22
bacon+1

bacon

# the value will not change

22

In [6]:
## 7.

print('spam' + 'spamspam')
print('spam' * 3)

# in the both cases it will give the value 'spamspamspam'

spamspamspam
spamspamspam

8. because a variable name should start with a alphabet letter or under score but should not start with a numeric.

#9.

The int() , float() , and str( ) functions will evaluate to the integer, 
floating-point number, and string versions of the value passed to them.

In [11]:
int('12')

12

In [12]:
float('12.89')

12.89

In [13]:
str(12)

'12'

In [15]:
# 10.

# 'I have eaten ' + 99 + ' burritos.'

#to fix this we have to include 99 in single quotes.

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'